.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--background);
  padding: 20px;
}

.card {
  padding: 2rem;
  width: 100%;
  max-width: 600px;
}

.title {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: var(--primary);
  text-align: center;
}

.subtitle {
  font-size: 0.875rem;
  margin-bottom: 1.5rem;
  color: var(--muted-foreground);
  text-align: center;
}

.form label {
  display: block;
  font-size: 0.875rem;
  margin: 1.5rem 0 0.3rem;
  color: var(--foreground);
  font-weight: 500;
}

.form input {
  width: 100%;
  padding: 16px 12px;
  margin-bottom: 10px;
  border: 1px solid var(--input);
  border-radius: var(--radius);
  font-size: 0.9rem;
  background-color: var(--surface);
  color: var(--foreground);
  outline: none;
  transition: border 0.2s ease;
}

.form input:focus {
  border-color: var(--primary);
}

.primaryBtn {
  width: 100%;
  padding: 15px 18px;
  margin: 30px 0;
  background-color: var(--primary);
  border-radius: var(--radius);
  color: var(--primary-foreground);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  border: none;
}

.primaryBtn:hover {
  background-color: var(--primary-hover);
}

.divider {
  text-align: center;
  margin: 40px 0;
  font-size: 0.75rem;
  color: var(--muted-foreground);
  position: relative;
}

.divider::before,
.divider::after {
  content: "";
  height: 1px;
  width: 30%;
  background: var(--border);
  position: absolute;
  top: 50%;
}

.divider::before {
  left: 0;
}

.divider::after {
  right: 0;
}

.socialButtons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 10px;
}

.googleBtn,
.appleBtn {
  flex: 1;
  padding: 13px;
  border: 1px solid var(--border);
  border-radius: var(--radius);
  background-color: var(--card);
  color: var(--foreground);
  cursor: pointer;
  font-size: 0.9rem;
  transition: all 0.2s ease;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.socialButtons button h4 {
  margin-top: 3px;
}

.googleBtn:hover {
  background-color: var(--accent);
  border-color: var(--primary);
}

.appleBtn:hover {
  background-color: var(--accent);
  border-color: var(--foreground);
}

.switchText {
  margin-top: 15px;
  text-align: center;
  font-size: 0.8rem;
  color: var(--muted-foreground);
}

.switchText a {
  color: var(--primary);
  font-weight: 500;
  text-decoration: none;
}

.error {
  color: var(--danger);
  font-size: 0.8rem;
  margin-top: -8px;
  margin-bottom: 10px;
}

.success {
  color: var(--success);
  font-size: 0.9rem;
  margin-top: 12px;
  font-weight: 600;
  text-align: center;
}
